Source: ros-hydro-ros-ethercat-hardware
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-hardware-interface, ros-hydro-pluginlib, ros-hydro-realtime-tools, ros-hydro-ros-ethercat-eml, ros-hydro-roscpp
Homepage: http://ros.org/wiki/ros_ethercat_hardware
Standards-Version: 3.9.2

Package: ros-hydro-ros-ethercat-hardware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-hardware-interface, ros-hydro-pluginlib, ros-hydro-realtime-tools, ros-hydro-ros-ethercat-eml, ros-hydro-roscpp
Description: Package for creating a hardware interface to the robot using the EtherCAT motor controller/driver
