Source: ros-indigo-ros-ethercat-eml
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/ros_ethercat_eml
Standards-Version: 3.9.2

Package: ros-indigo-ros-ethercat-eml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This is an implementation of the EtherCAT master protocol for use wiht ros_ethercar package based on the work done at Flanders' Mechatronics Technology Centre and Willow Garage.
